<nz-header style="background: #fff; padding:0;">
  <i *ngIf="isAuthenticated" class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
     (click)="toggle()"></i>
  <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px; float: right;">
    <li *ngIf="!isAuthenticated" nz-menu-item>
      <a routerLink="login"><i nz-icon type="login"></i><span class="nav-text">Login</span></a>
    </li>
    <li *ngIf="!isAuthenticated" nz-menu-item>
      <a routerLink="register"><i nz-icon type="user-add"></i><span class="nav-text">Register</span></a>
    </li>
    <li *ngIf="isAuthenticated" nz-menu-item>
      <a (click)="logout()"><i nz-icon type="logout"></i><span class="nav-text">Logout</span></a>
    </li>
  </ul>
</nz-header>

<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>

