<nz-header style="background: #fff; padding:0;">
  <div style="height: 100%; width: 100%; background: #001529;">
    <div class="ant-card-head" style="float: left; color: rgba(255, 255, 255, 0.65);">
      <i *ngIf="isAuthenticated" class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
         (click)="toggle()"></i>
      Bank Management
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px; float: right;">
      <li *ngIf="!isAuthenticated" nz-menu-item [nzSelected]="selected === routes.login">
        <a [routerLink]="routes.login"><i nz-icon type="login"></i><span class="nav-text">Login</span></a>
      </li>
      <li *ngIf="!isAuthenticated" nz-menu-item [nzSelected]="selected === routes.register">
        <a [routerLink]="routes.register"><i nz-icon type="user-add"></i><span
          class="nav-text">Register</span></a>
      </li>
      <li *ngIf="isAuthenticated" nz-menu-item>
        <a (click)="logout()"><i nz-icon type="logout"></i><span class="nav-text">Logout</span></a>
      </li>
    </ul>
  </div>
</nz-header>

<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>

