<form nz-form [formGroup]="form" class="form" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="username" placeholder="Email"/>
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('username')?.dirty && form.get('username')?.errors">Please input your
        username!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixKey">
        <input type="text" nz-input formControlName="token" placeholder="Token"/>
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('token')?.dirty && form.get('token')?.errors">Please input your
        Token!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 0;">
    <nz-form-control>
      <button nz-button class="form-button" [nzType]="'primary'" [nzLoading]="loading"
              [disabled]="!form.valid">Validate
      </button>
      <a [routerLink]="routes.login">Already registered ?</a>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixKey><i nz-icon type="key"></i></ng-template>
